<?xml version="1.0" encoding="UTF-8"?>

<!--suppress XmlUnboundNsPrefix -->
<configuration debug="true" scan="true">

    <appender name="Default" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d %p [%t][%c] - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>30</maxHistory>
            <fileNamePattern>
                /home/proxy/glvrdlogs/glvrd.%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="org.apache.http" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="Default"/>
    </root>
</configuration>
